################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/MAUI_Pretty_Buttons
/_ReSharper.Caches
/samples/MauiPrettyButtons.Sample/obj
/samples/MauiPrettyButtons.Sample/bin
.vs

